Repository nky163/typescript-sample: changes, and which lint-staged commands are due for each by the changed paths.
All: gts fix, prettier --write

feat: transactional transfers, validation (zod), global error handling, cleanup unused files, logging & tooling updates
  .gitignore
Due: none

chore: update .gitignore with build, misc patterns
  .gitignore
Due: none

test: 日本語化 (テストケース説明を日本語に)
  test/integration/transfer-money.int.test.ts
  test/unit/application/transfer-money.usecase.test.ts
  test/unit/domain/account.entity.test.ts
Due: gts fix

test: enable verbose output in jest
  jest.config.ts
Due: gts fix

chore: track domain-event before moving
  src/adapter/config/data-source.ts
  src/adapter/config/env.ts
  src/adapter/in/web/controllers/account.controller.ts
  src/adapter/in/web/middleware/error.middleware.ts
  src/adapter/in/web/middleware/validation.middleware.ts
  src/adapter/in/web/routes/account.routes.ts
  src/adapter/in/web/server.ts
  src/adapter/logging/logger.ts
  src/adapter/out/persistence/entities/account.orm-entity.ts
  src/adapter/out/persistence/migrations/0001-init-account-table.ts
  src/adapter/out/persistence/repositories/account.typeorm.repository.ts
  src/application/domain/accounts/account.entity.ts
  src/application/domain/accounts/account.repository.port.ts
  src/application/domain/model/account.ts
  src/application/dto/transfer-money.dto.ts
  src/application/port/in/send-money.command.ts
  src/application/port/in/transfer-money.command.ts
  src/application/port/in/transfer-money.use-case.ts
  src/application/port/out/account-repository.port.ts
  src/application/use-cases/transfer-money.usecase.ts
  src/domain/accounts/account.repository.port.ts
  src/domain/common/domain-event.ts
  src/index.ts
  src/infrastructure/web/controllers/account.controller.ts
  test/unit/application/transfer-money.usecase.test.ts
  test/unit/domain/account.entity.test.ts
Due: gts fix

refactor: remove legacy src/domain directory aligning with buckpal layout
  src/application/domain/common/domain-event.ts
Due: gts fix

refactor: continue buckpal alignment (send money service, path fixes, adapter imports)
  TODO-REFactor.md
  docker/README.md
  package.json
  scripts/migrate.ts
  scripts/seed.ts
  src/adapter/in/web/controllers/account.controller.ts
  src/adapter/in/web/routes/account.routes.ts
  src/application/common/decorators.ts
  src/application/common/validation/validation.ts
  src/application/domain/accounts/account.entity.ts
  src/application/domain/accounts/account.repository.port.ts
  src/application/use-cases/send-money.service.ts
  src/index.ts
  test/integration/transfer-money.int.test.ts
  test/setup.ts
  test/unit/application/transfer-money.usecase.test.ts
Due: gts fix, prettier --write

fix: correct data-source entity & migration paths
  src/adapter/config/data-source.ts
Due: gts fix

リセット
  TODO-REFactor.md
  package.json
  scripts/migrate.ts
  scripts/seed.ts
  src/adapter/config/data-source.ts
  src/adapter/config/env.ts
  src/adapter/in/web/controllers/account.controller.ts
  src/adapter/in/web/middleware/error.middleware.ts
  src/adapter/in/web/middleware/validation.middleware.ts
  src/adapter/in/web/routes/account.routes.ts
  src/adapter/in/web/server.ts
  src/adapter/logging/logger.ts
  src/adapter/out/persistence/entities/account.orm-entity.ts
  src/adapter/out/persistence/migrations/0001-init-account-table.ts
  src/adapter/out/persistence/repositories/account.typeorm.repository.ts
  src/application/common/decorators.ts
  src/application/common/validation/validation.ts
  src/application/domain/accounts/account.entity.ts
  src/application/domain/accounts/account.repository.port.ts
  src/application/domain/common/domain-event.ts
  src/application/domain/model/account.ts
  src/application/port/in/send-money.command.ts
  src/application/port/in/transfer-money.command.ts
  src/application/port/in/transfer-money.use-case.ts
  src/application/port/out/account-repository.port.ts
  src/application/use-cases/send-money.service.ts
  src/application/use-cases/transfer-money.usecase.ts
  src/index.ts
  src/shared/errors/domain-error.ts
  src/shared/errors/not-found.error.ts
  test/integration/transfer-money.int.test.ts
  test/setup.ts
  test/unit/application/transfer-money.usecase.test.ts
  test/unit/domain/account.entity.test.ts
Due: gts fix, prettier --write

ヘキサゴナルアーキテクチャ適用
  .dependency-cruiser.js
  .env.example
  package-lock.json
  package.json
  scripts/migrate.ts
  scripts/seed.ts
  src/adapter/in/web/SendMoneyController.ts
  src/adapter/in/web/server.ts
  src/adapter/out/persistence/AccountMapper.ts
  src/adapter/out/persistence/AccountPersistenceAdapter.ts
  src/adapter/out/persistence/NoOpAccountLock.ts
  src/adapter/out/persistence/entity/AccountEntity.ts
  src/adapter/out/persistence/entity/ActivityEntity.ts
  src/application/domain/model/Account.ts
  src/application/domain/model/Activity.ts
  src/application/domain/model/ActivityWindow.ts
  src/application/domain/model/Money.ts
  src/application/domain/service/GetAccountBalanceService.ts
  src/application/domain/service/MoneyTransferProperties.ts
  src/application/domain/service/SendMoneyService.ts
  src/application/domain/service/ThresholdExceededException.ts
  src/application/port/in/GetAccountBalanceUseCase.ts
  src/application/port/in/SendMoneyCommand.ts
  src/application/port/in/SendMoneyUseCase.ts
  src/application/port/out/AccountLock.ts
  src/application/port/out/LoadAccountPort.ts
  src/application/port/out/UpdateAccountStatePort.ts
  src/migrations/1733875200000-CreateInitialTables.ts
  src/shared/config/data-source.ts
  src/shared/logging/logger.ts
  test/adapter/in/web/SendMoneyController.test.ts
  test/adapter/out/persistence/AccountPersistenceAdapter.test.ts
  test/application/domain/Account.test.ts
  test/application/domain/ActivityWindow.test.ts
  test/application/domain/GetAccountBalanceService.test.ts
  test/application/port/in/SendMoneyCommandTest.test.ts
  test/application/service/SendMoneyService.test.ts
  test/integration/SendMoneyIntegration.test.ts
  test/setup.ts
Due: gts fix, prettier --write

chore(husky): remove deprecated bootstrap lines from pre-commit hook
  .husky/pre-commit
Due: none

chore(ci): refine husky hook, split CI scripts, remove compose version key
  .husky/pre-commit
  docker-compose.test.yml
  package.json
Due: prettier --write

refactor: migrate source & tests to camelCase filenames (exclude migrations)
  scripts/migrate.ts
  scripts/seed.ts
  src/adapter/in/web/sendMoneyController.ts
  src/adapter/in/web/server.ts
  src/adapter/out/persistence/accountMapper.ts
  src/adapter/out/persistence/accountPersistenceAdapter.ts
  src/adapter/out/persistence/entity/accountEntity.ts
  src/adapter/out/persistence/entity/activityEntity.ts
  src/adapter/out/persistence/no-op-account-lock.ts
  src/adapter/out/persistence/noOpAccountLock.ts
  src/application/domain/model/account.ts
  src/application/domain/model/activityWindow.ts
  src/application/domain/service/getAccountBalanceService.ts
  src/application/domain/service/moneyTransferProperties.ts
  src/application/domain/service/sendMoneyService.ts
  src/application/domain/service/thresholdExceededException.ts
  src/application/port/in/getAccountBalanceUseCase.ts
  src/application/port/in/sendMoneyCommand.ts
  src/application/port/in/sendMoneyUseCase.ts
  src/application/port/out/accountLock.ts
  src/application/port/out/loadAccountPort.ts
  src/application/port/out/updateAccountStatePort.ts
  src/shared/config/dataSource.ts
  test/adapter/in/web/send-money-controller.test.ts
  test/adapter/out/persistence/account-persistence-adapter.test.ts
  test/application/domain/activity-window.test.ts
  test/application/domain/get-account-balance-service.test.ts
  test/application/port/in/send-money-command-test.test.ts
  test/application/service/send-money-service.test.ts
  test/integration/send-money-integration.test.ts
Due: gts fix

lintルール追加,修正
  eslint.config.mjs
Due: none

スタイルガイド整備
  StyleGuide.md
  docs/style-guide/1.source-structure.md
  docs/style-guide/2.language-features.md
  docs/style-guide/3.naming.md
  eslint.config.mjs
  src/application/domain/model/activity-window.ts
  src/application/port/in/sendMoneyCommand.ts
Due: gts fix, prettier --write

スタイルガイド追加
  docs/style-guide/4.type-system.md
Due: prettier --write

スタイルガイド追加
  docs/style-guide/5.comment-and-document.md
Due: prettier --write

ESLint設定追加
  eslint.config.mjs
Due: none

スタイルガイド適用: JSDoc追加・マジックナンバー抽出・daysAgo導入・eslint-plugin-jsdoc導入
  eslint.config.mjs
  package-lock.json
  package.json
  src/adapter/in/web/sendMoneyController.ts
  src/adapter/out/persistence/accountMapper.ts
  src/adapter/out/persistence/accountPersistenceAdapter.ts
  src/adapter/out/persistence/entity/accountEntity.ts
  src/adapter/out/persistence/entity/activityEntity.ts
  src/adapter/out/persistence/noOpAccountLock.ts
  src/application/domain/model/Money.ts
  src/application/domain/model/account.ts
  src/application/domain/model/activity.ts
  src/application/domain/model/activityWindow.ts
  src/application/domain/service/getAccountBalanceService.ts
  src/application/domain/service/moneyTransferProperties.ts
  src/application/domain/service/sendMoneyService.ts
  src/application/domain/service/thresholdExceededException.ts
  src/application/port/in/getAccountBalanceUseCase.ts
  src/application/port/in/sendMoneyCommand.ts
  src/migrations/1733875200000-create-initial-tables.ts
  src/shared/config/data-source.ts
  src/shared/config/dataSource.ts
  src/shared/time/time.ts
Due: gts fix, prettier --write

chore: ignore eslint-report.json
  .gitignore
Due: none

chore(test): rename test filenames to lowerCamelCase
  src/shared/config/data-source.ts
  test/adapter/in/web/sendMoneyController.test.ts
  test/adapter/out/persistence/accountPersistenceAdapter.test.ts
  test/application/domain/activityWindow.test.ts
  test/application/domain/getAccountBalanceService.test.ts
  test/application/port/in/sendMoneyCommandTest.test.ts
  test/application/service/sendMoneyService.test.ts
  test/integration/sendMoneyIntegration.test.ts
Due: gts fix

refactor(migrations): colocate migrations under persistence layer
  src/adapter/out/persistence/migrations/1733875200000-create-initial-tables.ts
  src/shared/config/dataSource.ts
Due: gts fix

ファイル名をケバブケースに変更
  docs/style-guide/3.naming.md
  package.json
  scripts/migrate.ts
  scripts/seed.ts
  src/adapter/in/web/send-money-controller.ts
  src/adapter/in/web/server.ts
  src/adapter/out/persistence/account-mapper.ts
  src/adapter/out/persistence/account-persistence-adapter.ts
  src/adapter/out/persistence/entity/account-entity.ts
  src/adapter/out/persistence/entity/activity-entity.ts
  src/adapter/out/persistence/no-op-account-lock.ts
  src/application/domain/model/account.ts
  src/application/domain/model/activity-window.ts
  src/application/domain/service/get-account-balance-service.ts
  src/application/domain/service/money-transfer-properties.ts
  src/application/domain/service/send-money-service.ts
  src/application/domain/service/threshold-exceeded-exception.ts
  src/application/port/in/get-account-balance-use-case.ts
  src/application/port/in/send-money-command.ts
  src/application/port/in/send-money-use-case.ts
  src/application/port/out/account-lock.ts
  src/application/port/out/load-account-port.ts
  src/application/port/out/update-account-state-port.ts
  src/shared/config/data-source.ts
  test/adapter/in/web/send-money-controller.test.ts
  test/adapter/out/persistence/account-persistence-adapter.test.ts
  test/application/domain/activity-window.test.ts
  test/application/domain/get-account-balance-service.test.ts
  test/application/port/in/send-money-command-test.test.ts
  test/application/service/send-money-service.test.ts
  test/integration/send-money-integration.test.ts
Due: gts fix, prettier --write

ちょっと修正
  .gitignore
  src/shared/config/dataSource.ts
Due: gts fix

ValueObject追加
  src/application/domain/model/account.ts
  src/application/domain/model/activity-window.ts
  src/application/domain/model/activity.ts
  src/application/domain/model/common/base-model.ts
  test/application/domain/activity-window.test.ts
Due: gts fix

テスト追加
  eslint.config.mjs
  test/application/domain/account.test.ts
  test/application/domain/service/send-money-service.test.ts
Due: gts fix

Path conditions:
  gts fix: any of: *.{ts,js,tsx,jsx}
  prettier --write: any of: *.{json,md,yml,yaml}
